name: Code Analysis

on:
  pull_request: null
  push:
    branches:
      - main

jobs:
  code_analysis:
    strategy:
      fail-fast: false
      matrix:
        actions:
          -
            name: 'PHPStan'
            run: composer phpstan --ansi

          -
            name: 'Composer Validate'
            run: composer validate --ansi

          -
            name: 'Rector'
            run: composer check-rector --ansi

          -
            name: 'Coding Standard'
            run: composer fix-cs --ansi

          -
            name: 'Tests'
            run: vendor/bin/phpunit --testdox

          -
            name: 'PHP Linter'
            run: vendor/bin/parallel-lint src tests

          -
            name: 'Check Commented Code'
            run: vendor/bin/easy-ci check-commented-code src tests --ansi

          -
            name: 'Check Active Classes'
            run: >
              vendor/bin/class-leak check src packages bin --ansi
              --skip-type="Symplify\\MonorepoBuilder\\Merge\\Contract\\ComposerJsonDecoratorInterface"
              --skip-type="Symplify\\MonorepoBuilder\\Merge\\Contract\\ComposerKeyMergerInterface"
              --skip-type="Symplify\\MonorepoBuilder\\Merge\\PathResolver\\AutoloadPathNormalizer"
              --skip-type="Symplify\\MonorepoBuilder\\Merge\\PathResolver\\ComposerPatchesPathNormalizer"
              --skip-type="Symplify\\MonorepoBuilder\\Release\\Contract\\ReleaseWorker\\ReleaseWorkerInterface"

    name: ${{ matrix.actions.name }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          coverage: none
      - uses: "ramsey/composer-install@v2"
      - run: ${{ matrix.actions.run }}

  autowire-array-parameter_code_analysis:
    uses: ./.github/workflows/autowire-array-parameter_code_analysis.yml

  easy-testing_code_analysis:
    uses: ./.github/workflows/easy-testing_code_analysis.yml

  package-builder_code_analysis:
    uses: ./.github/workflows/package-builder_code_analysis.yml

  smart-file-system_code_analysis:
    uses: ./.github/workflows/smart-file-system_code_analysis.yml

  symplify-kernel_code_analysis:
    uses: ./.github/workflows/symplify-kernel_code_analysis.yml
